<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.imageeditorplugin" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ImageEditorPlugin</name>
    <js-module name="ImageEditorPlugin" src="www/ImageEditorPlugin.js">
        <clobbers target="imageeditorplugin" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ImageEditorPlugin">
                <param name="ios-package" value="ImageEditorPlugin" />
            </feature>
        </config-file>
        <dependency url="https://github.com/akofman/cordova-plugin-add-swift-support" id="cordova-plugin-add-swift-support"/>
        <!-- 
        <dependency url="https://github.com/agoncalvesos/cordova-plugin-add-swift-support" commit="513e43f94ae94ad609d49f24e7dca23a4c358095" id="cordova-plugin-add-swift-support"/>
        <framework src="iOSPhotoEditor" type="podspec" embed="true" /> 
        <framework src="iOSPhotoEditor" type="podspec" />-->

        <source-file src="src/ios/ImageEditorPlugin.swift" />
        <!--<header-file src="src/ios/ImageEditorPlugin.h" />
        <source-file src="src/ios/ImageEditorPlugin.m" />-->
        <podspec>
            <config>
                <source url="https://github.com/brightcove/BrightcoveSpecs.git" />
                <source url="https://github.com/CocoaPods/Specs.git"/>
                <source url="https://github.com/eventtus/photo-editor.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="iOSPhotoEditor" />
            </pods>
        </podspec>
        
        <framework src="src/libs/OSPhotoEditor/OSPhotoEditor.framework" target-dir="lib" framework="true" />
        <!--<framework src="src/ios/libs/OSPhotoEditor/OSPhotoEditor.framework" embed="true" custom="true" />-->

        <!-- <preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default=" " /> -->
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>"Our app needs permission to access photos on your device"</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>"Our app needs permission to add photos in your device"</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>"Our app needs permission to access the camera"</string>
        </config-file>
        
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ImageEditorPlugin">
                <param name="android-package" value="com.outsystems.imageeditorplugin.ImageEditorPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/FileUtils.java" target-dir="src/com/outsystems/imageeditorplugin/ImageEditorPlugin" />
        <source-file src="src/android/ImageEditorPlugin.java" target-dir="src/com/outsystems/imageeditorplugin/ImageEditorPlugin" />
        <source-file src="src/android/IntentsDefinition.java" target-dir="src/com/outsystems/imageeditorplugin/ImageEditorPlugin" />

        <!--<source-file src="src/ios/Assets.xcassets/0.imageset/0.png"/>
        <source-file src="src/ios/Assets.xcassets/1.imageset/1.png"/>
        <source-file src="src/ios/Assets.xcassets/2.imageset/2.png"/>
        <source-file src="src/ios/Assets.xcassets/3.imageset/3.png"/>
        <source-file src="src/ios/Assets.xcassets/4.imageset/4.png"/>
        <source-file src="src/ios/Assets.xcassets/5.imageset/5.png"/>
        <source-file src="src/ios/Assets.xcassets/6.imageset/6.png"/>
        <source-file src="src/ios/Assets.xcassets/7.imageset/7.png"/>
        <source-file src="src/ios/Assets.xcassets/8.imageset/8.png"/>
        <source-file src="src/ios/Assets.xcassets/9.imageset/9.png"/>
        <source-file src="src/ios/Assets.xcassets/10.imageset/10.png"/>-->


        <framework src="src/android/libs/photoeditorsdk" custom="true" />
        <framework src="src/android/libs/photoeditor" custom="true" />
        <framework src="extented-gradle.gradle" custom="true" type="gradleReference" />

        <dependency url="https://github.com/apache/cordova-plugin-camera" id="cordova-plugin-camera"/>
    </platform>
</plugin>